
@*<div ondrop="dropIt(event)" ondragover="allowDrop(event)">
    <div class="card" id="card6" draggable="true" ondragstart="dragStart(event)" style="display:inline-block;width:200px;">sal <div><span>ba</span></div></div>
    <div class="card" id="card7" draggable="true" ondragstart="dragStart(event)" style="display:inline-block;width:200px">hei<div> <span>tu</span></div></div>
</div>*@
<div class="book-header">

<form asp-controller="" asp-action="" class="search-form">
    <div class="search-container">
        <input class="form-control search-box" style="display:inline-block" placeholder="Search..."/>
        <button type="submit" class="search-books"><i class="bi bi-search"></i></button>
    </div>
</form>
    <div class="new-book-container">
        <button class="new-book-button"><i class="bi bi-plus-circle"></i>  Add</button>
    </div>
</div>
<div class="container" >
    <div class="row" ondrop="dropIt(event)" ondragover="allowDrop(event)">
        <div class="col-sm" id="1" draggable="true" ondragstart="dragStart(event)">
            <div class="book-card">
                <img class="book-card-photo" src="~/BookPhotos/book1.jpeg" />
                <div class="book-card-info">
                    <span class="book-card-title" data-toggle="modal" data-target="#exampleModal">Ferma </span>
                    <p class="book-card-author">George Orwell</p>
                </div>
                <div class="book-card-time">
                    <i class="far fa-clock"></i>
                    <span class="book-card-date">23/14/1999</span>
                </div>
                <p class="book-card-description" data-toggle="modal" data-target="#description"><i class="bi bi-file-earmark"></i> Description...</p>
                <button class="btn btn-outline-primary book-card-remove"><i class="fas fa-trash" style="margin-right:2px"></i>  Remove</button>
            </div>

        </div>
        <div class="col-sm" id="1" draggable="true" ondragstart="dragStart(event)">
            <div class="book-card">
                <img class="book-card-photo" src="~/BookPhotos/book1.jpeg" />
                <div class="book-card-info">
                    <span class="book-card-title" data-toggle="modal" data-target="#exampleModal">Ferma </span>
                    <p class="book-card-author">George Orwell</p>
                </div>
                <div class="book-card-time">
                    <i class="far fa-clock"></i>
                    <span class="book-card-date">23/14/1999</span>
                </div>
                <p class="book-card-description" data-toggle="modal" data-target="#description"><i class="bi bi-file-earmark"></i> Description...</p>
                <button class="btn btn-outline-primary book-card-remove"><i class="fas fa-trash" style="margin-right:2px"></i>  Remove</button>
            </div>

        </div>
        <div class="col-sm" id="1" draggable="true" ondragstart="dragStart(event)">
            <div class="book-card">
                <img class="book-card-photo" src="~/BookPhotos/book1.jpeg" />
                <div class="book-card-info">
                    <span class="book-card-title" data-toggle="modal" data-target="#exampleModal">Ferma </span>
                    <p class="book-card-author">George Orwell</p>
                </div>
                <div class="book-card-time">
                    <i class="far fa-clock"></i>
                    <span class="book-card-date">23/14/1999</span>
                </div>
                <p class="book-card-description" data-toggle="modal" data-target="#description"><i class="bi bi-file-earmark"></i> Description...</p>
                <button class="btn btn-outline-primary book-card-remove"><i class="fas fa-trash" style="margin-right:2px"></i>  Remove</button>
            </div>

        </div>
        <div class="col-sm" id="1" draggable="true" ondragstart="dragStart(event)">
            <div class="book-card">
                <img class="book-card-photo" src="~/BookPhotos/book1.jpeg" />
                <div class="book-card-info">
                    <span class="book-card-title" data-toggle="modal" data-target="#exampleModal">Ferma </span>
                    <p class="book-card-author">George Orwell</p>
                </div>
                <div class="book-card-time">
                    <i class="far fa-clock"></i>
                    <span class="book-card-date">23/14/1999</span>
                </div>
                <p class="book-card-description" data-toggle="modal" data-target="#description"><i class="bi bi-file-earmark"></i> Description...</p>
                <button class="btn btn-outline-primary book-card-remove"><i class="fas fa-trash" style="margin-right:2px"></i>  Remove</button>
            </div>

        </div>
    </div>
</div>













<div class="modal fade" id="description" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Best book ever written
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>