@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="ranking-header">
    <form asp-controller="" asp-action="" class="search-form no-margin">
        <div class="search-container">
            <input class="form-control search-box" style="display:inline-block" placeholder="Search..." />
            <button type="submit" class="search-books"><i class="bi bi-search"></i></button>
        </div>
    </form>
    <div class="new-book-container">
        <button class="new-book-button"><i class="bi bi-plus-circle"></i>  Add</button>
    </div>

</div>
<table class="table table-striped" id="booksRanking">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Photo</th>
            <th scope="col">Added By</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Ferma Animalelor</td>
            <td>George Orwell</td>
            <td>
                <img src="~/BookPhotos/book1.jpeg" class="book-table-image" />
            </td>
            <td>Toma Mihnea</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Ferma Animalelor</td>
            <td>George Orwell</td>
            <td>
                <img src="~/BookPhotos/book1.jpeg" class="book-table-image" />
            </td>
            <td>Toma Mihnea</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Ferma Animalelor</td>
            <td>George Orwell</td>
            <td>
                <img src="~/BookPhotos/book1.jpeg" class="book-table-image" />
            </td>
            <td>Toma Mihnea</td>
        </tr>
    </tbody>
</table>



