<div class="ranking-header">
    <div class="dropdown ">
        <button class="btn bg-theme dropdown-toggle sort-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Order by
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" data-ajax="true" asp-action="Sort" asp-route-sortOption="0" data-ajax-update="#container">Rating</a>
            <a class="dropdown-item" data-ajax="true" asp-action="Sort" asp-route-sortOption="1" data-ajax-update="#container">Votes</a>
            <a class="dropdown-item" data-ajax="true" asp-action="Sort" asp-route-sortOption="2" data-ajax-update="#container">Your Rating</a>
        </div>
    </div>
    <form asp-controller="" asp-action="" class="search-form flex-right">
        <div class="search-container">
            <input onkeyup="searchRanking()" id="rankingSearchInput"  class="form-control search-box" style="display:inline-block" placeholder="Search..." />
            <button type="submit" class="search-books"><i class="bi bi-search"></i></button>
        </div>
    </form>

</div>

<div id="container">
    <partial name="_RankingTable" model="@Model" />
</div>


