<div class="discussion">
    <div class="discussion-header">
        <div class="discussion-book">
            Ferma Animalelor
        </div>
        <span class="discussion-date">
            <i class="far fa-clock"></i> 12/3/2021
        </span>
    </div>
    <div class="discussion-content">
        It is awesome It is awesome It is awesome It is awesome It is awesome
        It is awesome It is awesome It is awesome It is awesome It is awesome
        It is awesome It is awesome It is awesome It is awesome It is awesome
        It is awesome It is awesome It is awesome It is awesome It is awesome
    </div>
    <div class="discussion-footer-container discussion-footer-replys">
        <div class="discussion-footer">
            <div class="discussion-likes"><i class="far fa-thumbs-up"></i> 64</div>
            <div class="discussion-comments"><i class="fas fa-comment" style="color : red"></i>14</div>
        </div>
    </div>
    <div class="discussion-replys">
        <div class="discussion-reply">
            <div class="discussion-reply-header">
                <p class="discussion-reply-author">
                    Toma Mihnea
                </p>
                <span class="discussion-reply-date">
                    <i class="far fa-clock"></i> 12/3/2021
                </span>
            </div>
            <div class="discussion-reply-content">
                I like it
            </div>
            <div class="discussion-reply-footer">
                <div class="discussion-reply-footer-options">
                    <span class="discussion-reply-icon"> <i class="fas fa-reply"></i> Reply </span>
                </div>
                <div class="discussion-reply">
                    <div class="discussion-reply-header">
                        <p class="discussion-reply-author">
                            Toma Mihnea
                        </p>
                        <span class="discussion-reply-date">
                            <i class="far fa-clock"></i> 12/3/2021
                        </span>
                    </div>
                    <div class="discussion-reply-content">
                        I like it
                    </div>
                    <div class="discussion-reply-footer">
                        <div class="discussion-reply-footer-options">
                            <span class="discussion-reply-icon"> <i class="fas fa-reply"></i> Reply </span>
                        </div>
                    </div>
                    <div class="discussion-reply">
                        <div class="discussion-reply-header">
                            <p class="discussion-reply-author">
                                Toma Mihnea
                            </p>
                            <span class="discussion-reply-date">
                                <i class="far fa-clock"></i> 12/3/2021
                            </span>
                        </div>
                        <div class="discussion-reply-content">
                            I like it
                        </div>
                        <div class="discussion-reply-footer">
                            <div class="discussion-reply-footer-options">
                                <span class="discussion-reply-icon"> <i class="fas fa-reply"></i> Reply </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="discussion-reply">
            <div class="discussion-reply-header">
                <p class="discussion-reply-author">
                    Toma Mihnea
                </p>
                <span class="discussion-reply-date">
                    <i class="far fa-clock"></i> 12/3/2021
                </span>
            </div>
            <div class="discussion-reply-content">
                I like it
            </div>
            <div class="discussion-reply-footer">
                <div class="discussion-reply-footer-options">
                    <span class="discussion-reply-icon"> <i class="fas fa-reply"></i> Reply </span>
                </div>
            </div>
        </div>
        <div class="discussion-reply">
            <div class="discussion-reply-header">
                <p class="discussion-reply-author">
                    Toma Mihnea
                </p>
                <span class="discussion-reply-date">
                    <i class="far fa-clock"></i> 12/3/2021
                </span>
            </div>
            <div class="discussion-reply-content">
                I like it
            </div>
            <div class="discussion-reply-footer">
                <div class="discussion-reply-footer-options">
                    <span class="discussion-reply-icon"> <i class="fas fa-reply"></i> Reply </span>
                </div>
            </div>
        </div>
    </div>
</div>