
<div class="book-header">

    <form asp-controller="" asp-action="" class="search-form discussion-form">
        <div class="search-container">
            <input class="form-control search-box" style="display:inline-block" placeholder="Search..." />
            <button type="submit" class="search-books"><i class="bi bi-search"></i></button>
        </div>
    </form>
        <button class="new-book-button"><i class="bi bi-plus-circle"></i>  Add</button>
</div>

<div class="discussion">
    <div class="discussion-header">
        <div class="discussion-book">
            Ferma Animalelor
        </div>
        <span class="discussion-date">
            <i class="far fa-clock"></i> 12/3/2021
        </span>
    </div>
    <div class="discussion-content">
        It is awesome It is awesome It is awesome It is awesome It is awesome
        It is awesome It is awesome It is awesome It is awesome It is awesome
        It is awesome It is awesome It is awesome It is awesome It is awesome
        It is awesome It is awesome It is awesome It is awesome It is awesome
    </div>
    <div class="discussion-footer">
        <div class="discussion-likes"><i class="far fa-thumbs-up"></i> 64</div>
        <div class="discussion-comments"><i class="fas fa-comment" style="color : red"></i>14</div>
    </div>
</div>

<div class="discussion">
    <div class="discussion-header">
        <div class="discussion-book">
            Ferma Animalelor
        </div>
        <span class="discussion-date">
            <i class="far fa-clock"></i> 12/3/2021
        </span>
    </div>
    <div class="discussion-content">
        It is awesome It is awesome It is awesome It is awesome It is awesome
        It is awesome It is awesome It is awesome It is awesome It is awesome
        It is awesome It is awesome It is awesome It is awesome It is awesome
        It is awesome It is awesome It is awesome It is awesome It is awesome
    </div>
    <div class="discussion-footer">
        <div class="discussion-likes"><i class="far fa-thumbs-up"></i> 64</div>
        <div class="discussion-comments"><i class="fas fa-comment" style="color : red"></i>14</div>
    </div>
</div>
<div class="discussion">
    <div class="discussion-header">
        <div class="discussion-book">
            Ferma Animalelor
        </div>
        <span class="discussion-date">
            <i class="far fa-clock"></i> 12/3/2021
        </span>
    </div>
    <div class="discussion-content">
        It is awesome It is awesome It is awesome It is awesome It is awesome
        It is awesome It is awesome It is awesome It is awesome It is awesome
        It is awesome It is awesome It is awesome It is awesome It is awesome
        It is awesome It is awesome It is awesome It is awesome It is awesome
    </div>
    <div class="discussion-footer">
        <div class="discussion-likes"><i class="far fa-thumbs-up"></i> 64</div>
        <div class="discussion-comments"><i class="fas fa-comment" style="color : red"></i>14</div>
    </div>
</div>
